In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/06 08:20:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/04/06 08:20:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
spark.version

'3.2.1'

In [21]:

# Get metadata from the Catalog
# List databases
dbs = spark.catalog.listDatabases()
print(f"dbs : {dbs}")

# Output
#[Database(name='default', description='default database', 
#locationUri='file:/Users/admin/.spyder-py3/spark-warehouse')]

# List Tables
tbls = spark.catalog.listTables()
print(f"tbls : {tbls}")

dbs : [Database(name='default', description='default database', locationUri='file:/config/workspace/spark-warehouse')]
tbls : []

In [20]:
spark

In [3]:
df=spark.read.csv('/config/workspace/titanic.csv',inferSchema=True,header=True)

In [4]:
df.show(5)

+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
| Id|Pclass|                Name|Gender| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|  1|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|       0|
|  2|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|       1|
|  3|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|       1|
|  4|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|       1|
|  5|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|       0|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 5 rows

In [5]:
df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Survived: integer (nullable = true)

In [6]:
df.select(df["Ticket"],df["Fare"]).show()

+----------------+-------+
|          Ticket|   Fare|
+----------------+-------+
|       A/5 21171|   7.25|
|        PC 17599|71.2833|
|STON/O2. 3101282|  7.925|
|          113803|   53.1|
|          373450|   8.05|
|          330877| 8.4583|
|           17463|51.8625|
|          349909| 21.075|
|          347742|11.1333|
|          237736|30.0708|
|         PP 9549|   16.7|
|          113783|  26.55|
|       A/5. 2151|   8.05|
|          347082| 31.275|
|          350406| 7.8542|
|          248706|   16.0|
|          382652| 29.125|
|          244373|   13.0|
|          345763|   18.0|
|            2649|  7.225|
+----------------+-------+
only showing top 20 rows

In [7]:
from pyspark.sql.functions import col

In [8]:
df.select(col("Ticket"),col("Fare")).show()

+----------------+-------+
|          Ticket|   Fare|
+----------------+-------+
|       A/5 21171|   7.25|
|        PC 17599|71.2833|
|STON/O2. 3101282|  7.925|
|          113803|   53.1|
|          373450|   8.05|
|          330877| 8.4583|
|           17463|51.8625|
|          349909| 21.075|
|          347742|11.1333|
|          237736|30.0708|
|         PP 9549|   16.7|
|          113783|  26.55|
|       A/5. 2151|   8.05|
|          347082| 31.275|
|          350406| 7.8542|
|          248706|   16.0|
|          382652| 29.125|
|          244373|   13.0|
|          345763|   18.0|
|            2649|  7.225|
+----------------+-------+
only showing top 20 rows

In [9]:
df.select(*df.columns).show()

+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
| Id|Pclass|                Name|Gender| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|  1|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|       0|
|  2|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|       1|
|  3|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|       1|
|  4|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|       1|
|  5|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|       0|
|  6|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|       0|
|  7|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|       0|
|  8|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|       0|
|  9|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|       1|
| 10|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|       1|
| 11|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|       1|
| 12|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|       1|
| 13|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|       0|
| 14|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|       0|
| 15|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|       0|
| 16|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|       1|
| 17|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|       0|
| 18|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|       1|
| 19|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|       0|
| 20|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|       1|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

In [10]:
df.select([col for col in df.columns]).show()

+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
| Id|Pclass|                Name|Gender| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|  1|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|       0|
|  2|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|       1|
|  3|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|       1|
|  4|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|       1|
|  5|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|       0|
|  6|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|       0|
|  7|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|       0|
|  8|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|       0|
|  9|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|       1|
| 10|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|       1|
| 11|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|       1|
| 12|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|       1|
| 13|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|       0|
| 14|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|       0|
| 15|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|       0|
| 16|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|       1|
| 17|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|       0|
| 18|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|       1|
| 19|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|       0|
| 20|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|       1|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

In [11]:
df.select("*").show()

+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
| Id|Pclass|                Name|Gender| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Survived|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
|  1|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|       0|
|  2|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|       1|
|  3|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|       1|
|  4|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|       1|
|  5|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|       0|
|  6|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|       0|
|  7|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|       0|
|  8|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|       0|
|  9|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|       1|
| 10|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|       1|
| 11|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|       1|
| 12|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|       1|
| 13|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|       0|
| 14|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|       0|
| 15|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|       0|
| 16|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|       1|
| 17|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|       0|
| 18|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|       1|
| 19|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|       0|
| 20|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|       1|
+---+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+--------+
only showing top 20 rows

# Select All columns from List
df.select(*columns).show()

# Select All columns
df.select([col for col in df.columns]).show()
df.select("*").show()

In [13]:
#Selects first 3 columns and top 3 rows
df.select(df.columns[:3]).show(3)

#Selects columns 2 to 4  and top 3 rows
df.select(df.columns[2:4]).show(3)

+---+------+--------------------+
| Id|Pclass|                Name|
+---+------+--------------------+
|  1|     3|Braund, Mr. Owen ...|
|  2|     1|Cumings, Mrs. Joh...|
|  3|     3|Heikkinen, Miss. ...|
+---+------+--------------------+
only showing top 3 rows

+--------------------+------+
|                Name|Gender|
+--------------------+------+
|Braund, Mr. Owen ...|  male|
|Cumings, Mrs. Joh...|female|
|Heikkinen, Miss. ...|female|
+--------------------+------+
only showing top 3 rows

In [14]:
df.select(df.columns[:3]).show()

+---+------+--------------------+
| Id|Pclass|                Name|
+---+------+--------------------+
|  1|     3|Braund, Mr. Owen ...|
|  2|     1|Cumings, Mrs. Joh...|
|  3|     3|Heikkinen, Miss. ...|
|  4|     1|Futrelle, Mrs. Ja...|
|  5|     3|Allen, Mr. Willia...|
|  6|     3|    Moran, Mr. James|
|  7|     1|McCarthy, Mr. Tim...|
|  8|     3|Palsson, Master. ...|
|  9|     3|Johnson, Mrs. Osc...|
| 10|     2|Nasser, Mrs. Nich...|
| 11|     3|Sandstrom, Miss. ...|
| 12|     1|Bonnell, Miss. El...|
| 13|     3|Saundercock, Mr. ...|
| 14|     3|Andersson, Mr. An...|
| 15|     3|Vestrom, Miss. Hu...|
| 16|     2|Hewlett, Mrs. (Ma...|
| 17|     3|Rice, Master. Eugene|
| 18|     2|Williams, Mr. Cha...|
| 19|     3|Vander Planke, Mr...|
| 20|     3|Masselmani, Mrs. ...|
+---+------+--------------------+
only showing top 20 rows

In [15]:
df.select(df.columns[0:5]).show(5)

+---+------+--------------------+------+----+
| Id|Pclass|                Name|Gender| Age|
+---+------+--------------------+------+----+
|  1|     3|Braund, Mr. Owen ...|  male|22.0|
|  2|     1|Cumings, Mrs. Joh...|female|38.0|
|  3|     3|Heikkinen, Miss. ...|female|26.0|
|  4|     1|Futrelle, Mrs. Ja...|female|35.0|
|  5|     3|Allen, Mr. Willia...|  male|35.0|
+---+------+--------------------+------+----+
only showing top 5 rows

In [16]:
data = [
        (("James",None,"Smith"),"OH","M"),
        (("Anna","Rose",""),"NY","F"),
        (("Julia","","Williams"),"OH","F"),
        (("Maria","Anne","Jones"),"NY","M"),
        (("Jen","Mary","Brown"),"NY","M"),
        (("Mike","Mary","Williams"),"OH","M")
        ]

from pyspark.sql.types import StructType,StructField, StringType        
schema = StructType([
    StructField('name', StructType([
         StructField('firstname', StringType(), True),
         StructField('middlename', StringType(), True),
         StructField('lastname', StringType(), True)
         ])),
     StructField('state', StringType(), True),
     StructField('gender', StringType(), True)
     ])
df2 = spark.createDataFrame(data = data, schema = schema)
df2.printSchema()
df2.show(truncate=False) # shows all columns

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+----------------------+-----+------+
|name                  |state|gender|
+----------------------+-----+------+
|{James, null, Smith}  |OH   |M     |
|{Anna, Rose, }        |NY   |F     |
|{Julia, , Williams}   |OH   |F     |
|{Maria, Anne, Jones}  |NY   |M     |
|{Jen, Mary, Brown}    |NY   |M     |
|{Mike, Mary, Williams}|OH   |M     |
+----------------------+-----+------+

In [17]:
df2.select("name").show(truncate=False)

+----------------------+
|name                  |
+----------------------+
|{James, null, Smith}  |
|{Anna, Rose, }        |
|{Julia, , Williams}   |
|{Maria, Anne, Jones}  |
|{Jen, Mary, Brown}    |
|{Mike, Mary, Williams}|
+----------------------+

In [18]:
df2.select("name.firstname","name.lastname").show(truncate=False)

+---------+--------+
|firstname|lastname|
+---------+--------+
|James    |Smith   |
|Anna     |        |
|Julia    |Williams|
|Maria    |Jones   |
|Jen      |Brown   |
|Mike     |Williams|
+---------+--------+

In [19]:
df2.select("name.*").show(truncate=False)

+---------+----------+--------+
|firstname|middlename|lastname|
+---------+----------+--------+
|James    |null      |Smith   |
|Anna     |Rose      |        |
|Julia    |          |Williams|
|Maria    |Anne      |Jones   |
|Jen      |Mary      |Brown   |
|Mike     |Mary      |Williams|
+---------+----------+--------+