In [71]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [72]:
spark = SparkSession.builder.appName("demo").getOrCreate()

In [73]:
spark

In [74]:
df=spark.read.csv('sample_data.csv',inferSchema=True,header=True)

In [75]:
df.show()

+-------+---+----------+------+-------+
|ratings|age|experience|family| mobile|
+-------+---+----------+------+-------+
|      3| 32|       9.0|     3|   Vivo|
|      3| 27|      13.0|     3|  Apple|
|      4| 22|       2.5|     0|Samsung|
|      4| 37|      16.5|     4|  Apple|
|      5| 27|       9.0|     1|     MI|
|      4| 27|       9.0|     0|   Oppo|
|      5| 37|      23.0|     5|   Vivo|
|      5| 37|      23.0|     5|Samsung|
|      3| 22|       2.5|     0|  Apple|
|      3| 27|       6.0|     0|     MI|
|      2| 27|       6.0|     2|   Oppo|
|      5| 27|       6.0|     2|Samsung|
|      3| 37|      16.5|     5|  Apple|
|      5| 27|       6.0|     0|     MI|
|      4| 22|       6.0|     1|   Oppo|
|      4| 37|       9.0|     2|Samsung|
|      4| 27|       6.0|     1|  Apple|
|      1| 37|      23.0|     5|     MI|
|      2| 42|      23.0|     2|   Oppo|
|      4| 37|       6.0|     0|   Vivo|
+-------+---+----------+------+-------+
only showing top 20 rows

In [76]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)

In [77]:
df.columns

['ratings', 'age', 'experience', 'family', 'mobile']

In [78]:
len(df.columns)

5

In [79]:
df.count()

33

In [80]:
print((df.count),(len(df.columns)))

<bound method DataFrame.count of DataFrame[ratings: int, age: int, experience: double, family: int, mobile: string]> 5

In [81]:
#shape of dataset
print((df.count(),len(df.columns)))

(33, 5)

In [82]:
df.show(2)

+-------+---+----------+------+------+
|ratings|age|experience|family|mobile|
+-------+---+----------+------+------+
|      3| 32|       9.0|     3|  Vivo|
|      3| 27|      13.0|     3| Apple|
+-------+---+----------+------+------+
only showing top 2 rows

In [83]:
df.select('age','family').show()

+---+------+
|age|family|
+---+------+
| 32|     3|
| 27|     3|
| 22|     0|
| 37|     4|
| 27|     1|
| 27|     0|
| 37|     5|
| 37|     5|
| 22|     0|
| 27|     0|
| 27|     2|
| 27|     2|
| 37|     5|
| 27|     0|
| 22|     1|
| 37|     2|
| 27|     1|
| 37|     5|
| 42|     2|
| 37|     0|
+---+------+
only showing top 20 rows

In [84]:
df.describe().show()

+-------+------------------+------------------+------------------+------------------+------+
|summary|           ratings|               age|        experience|            family|mobile|
+-------+------------------+------------------+------------------+------------------+------+
|  count|                33|                33|                33|                33|    33|
|   mean|3.5757575757575757|30.484848484848484|10.303030303030303|1.8181818181818181|  null|
| stddev|1.1188806636071336|  6.18527087180309| 6.770731351213326|1.8448330794164254|  null|
|    min|                 1|                22|               2.5|                 0| Apple|
|    max|                 5|                42|              23.0|                 5|  Vivo|
+-------+------------------+------------------+------------------+------------------+------+

In [85]:
df.withColumn("age_after_10_yrs",(df["age"]+10)).show(10,False)

+-------+---+----------+------+-------+----------------+
|ratings|age|experience|family|mobile |age_after_10_yrs|
+-------+---+----------+------+-------+----------------+
|3      |32 |9.0       |3     |Vivo   |42              |
|3      |27 |13.0      |3     |Apple  |37              |
|4      |22 |2.5       |0     |Samsung|32              |
|4      |37 |16.5      |4     |Apple  |47              |
|5      |27 |9.0       |1     |MI     |37              |
|4      |27 |9.0       |0     |Oppo   |37              |
|5      |37 |23.0      |5     |Vivo   |47              |
|5      |37 |23.0      |5     |Samsung|47              |
|3      |22 |2.5       |0     |Apple  |32              |
|3      |27 |6.0       |0     |MI     |37              |
+-------+---+----------+------+-------+----------------+
only showing top 10 rows

In [86]:
#with column
df.withColumn("age_after_10_yrs",(df["age"]+10)).show(10,True)

+-------+---+----------+------+-------+----------------+
|ratings|age|experience|family| mobile|age_after_10_yrs|
+-------+---+----------+------+-------+----------------+
|      3| 32|       9.0|     3|   Vivo|              42|
|      3| 27|      13.0|     3|  Apple|              37|
|      4| 22|       2.5|     0|Samsung|              32|
|      4| 37|      16.5|     4|  Apple|              47|
|      5| 27|       9.0|     1|     MI|              37|
|      4| 27|       9.0|     0|   Oppo|              37|
|      5| 37|      23.0|     5|   Vivo|              47|
|      5| 37|      23.0|     5|Samsung|              47|
|      3| 22|       2.5|     0|  Apple|              32|
|      3| 27|       6.0|     0|     MI|              37|
+-------+---+----------+------+-------+----------------+
only showing top 10 rows

In [87]:
df.show(2)

+-------+---+----------+------+------+
|ratings|age|experience|family|mobile|
+-------+---+----------+------+------+
|      3| 32|       9.0|     3|  Vivo|
|      3| 27|      13.0|     3| Apple|
+-------+---+----------+------+------+
only showing top 2 rows

In [88]:
df=df.withColumn("age_after_10_yrs",(df["age"]+10))

In [89]:
df.show(2)

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      3| 32|       9.0|     3|  Vivo|              42|
|      3| 27|      13.0|     3| Apple|              37|
+-------+---+----------+------+------+----------------+
only showing top 2 rows

In [90]:
    df.filter(df['mobile']=='Vivo').show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      3| 32|       9.0|     3|  Vivo|              42|
|      5| 37|      23.0|     5|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
|      4| 37|       6.0|     0|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [91]:
#filter the multiple conditions
df.filter((df['mobile']=='Vivo')&(df['experience'] >10)).show()

+-------+---+----------+------+------+----------------+
|ratings|age|experience|family|mobile|age_after_10_yrs|
+-------+---+----------+------+------+----------------+
|      5| 37|      23.0|     5|  Vivo|              47|
|      5| 37|      13.0|     1|  Vivo|              47|
+-------+---+----------+------+------+----------------+

In [92]:
df.select('mobile').distinct().show()

+-------+
| mobile|
+-------+
|     MI|
|   Oppo|
|Samsung|
|   Vivo|
|  Apple|
+-------+

In [93]:
df.select('mobile').distinct().count()

5

In [94]:
df.groupBy('mobile').count().show()

+-------+-----+
| mobile|count|
+-------+-----+
|     MI|    8|
|   Oppo|    7|
|Samsung|    6|
|   Vivo|    5|
|  Apple|    7|
+-------+-----+

In [95]:
df.groupBy('mobile').count().show(5,True)

+-------+-----+
| mobile|count|
+-------+-----+
|     MI|    8|
|   Oppo|    7|
|Samsung|    6|
|   Vivo|    5|
|  Apple|    7|
+-------+-----+

In [96]:
df.groupBy('mobile').count().show(5,False)

+-------+-----+
|mobile |count|
+-------+-----+
|MI     |8    |
|Oppo   |7    |
|Samsung|6    |
|Vivo   |5    |
|Apple  |7    |
+-------+-----+

In [97]:
from pyspark.sql.types import StringType,DoubleType

In [98]:
df.withColumn('age',df['age'].cast(DoubleType())).show(10,False)

+-------+----+----------+------+-------+----------------+
|ratings|age |experience|family|mobile |age_after_10_yrs|
+-------+----+----------+------+-------+----------------+
|3      |32.0|9.0       |3     |Vivo   |42              |
|3      |27.0|13.0      |3     |Apple  |37              |
|4      |22.0|2.5       |0     |Samsung|32              |
|4      |37.0|16.5      |4     |Apple  |47              |
|5      |27.0|9.0       |1     |MI     |37              |
|4      |27.0|9.0       |0     |Oppo   |37              |
|5      |37.0|23.0      |5     |Vivo   |47              |
|5      |37.0|23.0      |5     |Samsung|47              |
|3      |22.0|2.5       |0     |Apple  |32              |
|3      |27.0|6.0       |0     |MI     |37              |
+-------+----+----------+------+-------+----------------+
only showing top 10 rows

In [99]:
#df=df['age'].cast(DoubleType())

In [100]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)
 |-- age_after_10_yrs: integer (nullable = true)

In [101]:
df=df.withColumn('age_double',df['age'].cast(DoubleType()))
df.show(2)

+-------+---+----------+------+------+----------------+----------+
|ratings|age|experience|family|mobile|age_after_10_yrs|age_double|
+-------+---+----------+------+------+----------------+----------+
|      3| 32|       9.0|     3|  Vivo|              42|      32.0|
|      3| 27|      13.0|     3| Apple|              37|      27.0|
+-------+---+----------+------+------+----------------+----------+
only showing top 2 rows

In [102]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)
 |-- age_after_10_yrs: integer (nullable = true)
 |-- age_double: double (nullable = true)

In [103]:
df.printSchema()

root
 |-- ratings: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: double (nullable = true)
 |-- family: integer (nullable = true)
 |-- mobile: string (nullable = true)
 |-- age_after_10_yrs: integer (nullable = true)
 |-- age_double: double (nullable = true)

In [104]:
df.groupBy('mobile').count().orderBy('count',ascending=False).show(5,False)

+-------+-----+
|mobile |count|
+-------+-----+
|MI     |8    |
|Apple  |7    |
|Oppo   |7    |
|Samsung|6    |
|Vivo   |5    |
+-------+-----+