In [2]:
import pandas as pandas
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
spark = SparkSession.builder.appName("demo").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/04/06 06:47:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
df=spark.range(5)
df.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [7]:
type(df)

pyspark.sql.dataframe.DataFrame

In [11]:
df = spark.createDataFrame([1.0, 2.0, 3.0], StringType())

df.show()

+-----+
|value|
+-----+
|  1.0|
|  2.0|
|  3.0|
+-----+

In [12]:
type(df)

pyspark.sql.dataframe.DataFrame

In [20]:
l=["apple","banana","orange"]
df=spark.createDataFrame(l, StringType())

df.show()

+------+
| value|
+------+
| apple|
|banana|
|orange|
+------+

In [25]:
df2=spark.range(1,10,2)
df2.show(10,truncate=False)

+---+
|id |
+---+
|1  |
|3  |
|5  |
|7  |
|9  |
+---+

In [30]:
df2=spark.range(1,50,2)
df2.show(truncate=False)

+---+
|id |
+---+
|1  |
|3  |
|5  |
|7  |
|9  |
|11 |
|13 |
|15 |
|17 |
|19 |
|21 |
|23 |
|25 |
|27 |
|29 |
|31 |
|33 |
|35 |
|37 |
|39 |
+---+
only showing top 20 rows

In [37]:
data1 = [
    ["1", "Ram"],
    ["2", "Shyam"],
    ["3", "Asraf"],
    ["4", None]
]
cols=['id','name']
df=spark.createDataFrame(data=data1,schema=cols)
df.printSchema()
df.show()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

+---+-----+
| id| name|
+---+-----+
|  1|  Ram|
|  2|Shyam|
|  3|Asraf|
|  4| null|
+---+-----+

In [36]:
data1 = [
    [1, "Ram"],
    [2, "Shyam"],
    [3, "Asraf"],
    [4, None]
]
cols=['id','name']
df=spark.createDataFrame(data=data1,schema=cols)
df.printSchema()
df.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

+---+-----+
| id| name|
+---+-----+
|  1|  Ram|
|  2|Shyam|
|  3|Asraf|
|  4| null|
+---+-----+

In [40]:
# From the same data list we create new RDD
data_rdd = spark.sparkContext.parallelize(data1)
print(f"data_rdd.collect() : {data_rdd.collect()}")
# To check number of partitions of the data
print(f"data_rdd.getNumPartitions() : {data_rdd.getNumPartitions()}")

data_rdd.collect() : [['1', 'Ram'], ['2', 'Shyam'], ['3', 'Asraf'], ['4', None]]
data_rdd.getNumPartitions() : 64

In [47]:
partitions = spark.conf.get("spark.sql.shuffle.partitions")
print(partitions)

200

In [49]:

# Get metadata from the Catalog
# List databases
dbs = spark.catalog.listDatabases()
print(f"dbs : {dbs}")

# Output
#[Database(name='default', description='default database', 
#locationUri='file:/Users/admin/.spyder-py3/spark-warehouse')]

# List Tables
tbls = spark.catalog.listTables()
print(f"tbls : {tbls}")

dbs : [Database(name='default', description='default database', locationUri='file:/config/workspace/spark-warehouse')]
tbls : []

----------------------------------------
Exception happened during processing of request from ('127.0.0.1', 45590)
Traceback (most recent call last):
  File "/usr/lib/python3.8/socketserver.py", line 316, in _handle_request_noblock
    self.process_request(request, client_address)
  File "/usr/lib/python3.8/socketserver.py", line 347, in process_request
    self.finish_request(request, client_address)
  File "/usr/lib/python3.8/socketserver.py", line 360, in finish_request
    self.RequestHandlerClass(request, client_address, self)
  File "/usr/lib/python3.8/socketserver.py", line 747, in __init__
    self.handle()
  File "/usr/local/lib/python3.8/dist-packages/pyspark/accumulators.py", line 262, in handle
    poll(accum_updates)
  File "/usr/local/lib/python3.8/dist-packages/pyspark/accumulators.py", line 235, in poll
    if func():
  File "/usr/local/lib/python3.8/dist-packages/pyspark/accumulators.py", line 239, in accum_updates
    num_updates = read_int(self.rfile)
  File "/usr/local/lib/python3.8/dist-packages/pyspark/serializers.py", line 564, in read_int
    raise EOFError
EOFError
----------------------------------------

In [46]:
print(f"type(data_rdd) : {type(data_rdd)}")

type(data_rdd) : <class 'pyspark.rdd.RDD'>

In [45]:
# Create Data Frame from the rdd
df_users_new = data_rdd.toDF(cols)
print(f"type(df_users_new) : {type(df_users_new)}")
df_users_new.show()

type(df_users_new) : <class 'pyspark.sql.dataframe.DataFrame'>
+---+-----+
| id| name|
+---+-----+
|  1|  Ram|
|  2|Shyam|
|  3|Asraf|
|  4| null|
+---+-----+